.c-card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 1px solid #0d6efd;
  border-radius: 5px;
}

.c-form-item {
  width: 100%;
}

.c-todo-list {
  width: 100%;

  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}


footer {
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: #0d6efd;
}